<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net452" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net461" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net461" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net461" />
  <package id="Moq" version="4.5.10" targetFramework="net452" />
  <package id="NUnit" version="3.2.1" targetFramework="net452" />
  <package id="RichardSzalay.MockHttp" version="1.2.2" targetFramework="net461" />
  <package id="Should" version="1.1.20" targetFramework="net452" />
</packages>